/* .main-section{
	height: 150vh;
} */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, #00f, #f00);
	mix-blend-mode: overlay;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	z-index: -1;
}

.text {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 27vh;
}

.text h2 {
	font-size: 6vw;
	font-weight: 800;
	/* color: #ccff00; */
	line-height: 1em;
	text-transform: uppercase;
}

.text h3 {
	font-size: 4vw;
	font-weight: 700;
	/* color: #ccff00; */
	line-height: 1em;
	text-transform: uppercase;
	margin-left: 0.3em;
}

.text p {
	position: relative;
	font-size: 1.1em;
	margin: 20px 0;
	font-weight: 400;
	/* color: #ccff00; */
}


.text a {
	width: 40%;
	font-size: 1.1em;
	background: #075497;
	padding: 10px 30px 5px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin-top: 15px;
	/* color: #ccff00; */
	letter-spacing: 2px;
	opacity: .95;
	text-align: center;
}

.text a:hover {
	color: #075497;
	background: #ccff00;
}

.sm {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 5%;
	/* background: #ccff00; */
	padding: 10px 10px 10px 10px;


}

.sm .social {
	display: inline-block;
	font-size: 2em;
	width: 80px;
	height: 80px;
	line-height: 100px;
	text-align: center;
	color: #075497;
	transition: .4s linear;
	position: relative;


}

.sm .social::before,
.sm .social::after {
	content: '';
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .4s linear;
}

.sm .social:hover {
	transform: scale(.8);
}

.sm .social:hover::before {
	border-left: 3px solid;
	border-right: 3px solid;
	transform: skewX(20deg);
}

.sm .social:hover::after {
	border-top: 3px solid;
	border-bottom: 3px solid;
	transform: skewY(-20deg);
}


.header-tel {
	visibility: hidden;
	position: absolute;
	top: 55%;
	left: 70%;
	transform: translate(-50%, -50%);
	font-size: 2.5em;
	color: #075497;
	width: 90%;
}

.none {
	opacity: 1;
	transition-delay: 0s;
}

.icon:hover+.none {
	opacity: 0;
	transition: opacity 0s;
}

.icon:hover~.header-tel {

	visibility: visible;
}